<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>


<div class="container">
  <label><b>HTTP Status Code: </b></label>
  <select (change)="changeStatusCode($event.target.value)">
    <option *ngFor="let statusCode of statusCodesResponse" value={{statusCode.statusCode}}>
      {{statusCode.statusCode}}
    </option>
  </select>

<p><b>Short Description:</b> {{ statusCodeResponse?.shortDescription }}</p>
<p><b>Long Description:</b> {{ statusCodeResponse?.longDescription }}</p>
<p><b>RFC Link:</b> <a href="{{ statusCodeResponse?.rfcUri }}">{{ statusCodeResponse?.rfcUri }}</a></p>
</div>
